<div class="row"></div>
<div class="mt-5" style="box-sizing: border-box;">
  <div class="row">
    <div class="col-12">
      <div class="d-flex mt-3 mb-3 justify-content-between align-items-center">
        <h4>
          Transaksi
        </h4>
        <Button class="btn btn-dark" (click)="back()">
          Kembali
        </Button>
      </div>
    </div>
    <p>Tanggal {{ today() }}</p>
    <div class="col-12 d-flex gap-2 ">
      <div class="col-6">
        <select class="form-control">
          <option (click)="addSuppBar(supp)" *ngFor="let supp of supplier">{{ supp.nama }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 ">
      <div class="d-flex">
      </div>
      <!-- <input type="text" class="form-control mt-3 mb-3 bi bi-search" placeholder="search"> -->
      <table class="table table-dark table-striped-columns" style="box-sizing: border-box;">
        <thead>
          <tr>
            <th class="col">Nama Barang</th>
            <th class="col">Deskripsi</th>
            <th class="col">Harga</th>
            <th class="col">qty</th>
            <th class="col">subtotal</th>
            <th class="col">aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let su of supp">
            <td class="table-light col">{{ su.listBarang.nama }}</td>
            <td class="table-light col">{{ su.listBarang.deskripsi }}</td>
            <td class="table-light col">{{ su.listBarang.harga }}</td>
            <td class="table-light col">{{ su.listBarang.qty }}</td>
            <td class="table-light col">{{ su.listBarang.qty * su.listBarang.harga }}</td>
            <td class="table-light col">
              <div class="d-flex justify-content-around" style="box-sizing: border-box; gap: 10px;">
                <button class="btn btn-outline-dark text-center"><span>Hapus</span></button>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="table-light col"><input type="text" class="form-control"></td>
            <td class="table-light col"><input type="text" class="form-control"></td>
            <td class="table-light col"><input type="number" class="form-control"></td>
            <td class="table-light col"><input type="number" class="form-control"></td>
            <td class="table-light col"><input type="number" class="form-control"></td>
            <td class="table-light col">
              <div class="d-flex justify-content-around" style="box-sizing: border-box; gap: 10px;">
                <!-- <button class="btn btn-outline-dark text-center"><span>Tambah</span></button> -->
                <button class="btn btn-outline-dark text-center"><span>Hapus</span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
