<nav class="sidebar" *ngIf="shouldShowNavbar()">
  <a class="logo fw-bold text-uppercase" href="#">Toko <span>Vanntastic</span></a>
  <div class="sidebar-nav">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/transaksi']">
      Transaksi
    </a>
    <!-- <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/barang']">
      Barang
    </a> -->
    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/supplier']">
      Supplier
    </a>
  </div>
  <!-- <button class="btn btn-dark" type="button" aria-label="Logout" (click)="logout()">
    Logout
  </button> -->
</nav>
